body{background-color: #FAF0ED;
}

.card{
  position: relative;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  background-color: white;
  margin-top: 80px;
  height: 555px;
  width: 1000px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 3px 20px 0 rgba(0, 0, 0, 0.15);
}
.card_box1{display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
.image1{
    opacity: 1;
    transition:0.8s ease;
}
.image2{
  position: absolute;
      margin-left: 400px;
      height: 400px;
      width: 200px;
      margin-top: -401;
      opacity: 1;
      transition:0.8s ease;
}
.image3{
  position: absolute;
  margin-left: 625px;
  margin-right: 155px;
  top: -400;
  height: 400px;
  width: 200px;
  transition:0.8s ease;
}
.heading1{
text-align: center;
padding-top: 20px;
  font-family: montserrat,sans-serif;
  font-size: 30px;
  margin-bottom: 0px;
}
.heading2{
  font-family: cardo,serif;
  text-align: center;
  margin-top: 0px;
  font-size: 22;
  margin-bottom: 30px;
  font-weight: normal;
}
.p1{position: absolute;
    right:824px;
    left: 97px;
    top:155px;
    font-family: cardo,serif;
    font-size: 14;
    text-align: left;
    width: 224px;
    margin-left: 600px;
}
.heading3{
  font-family: cardo,serif;
  text-align:left;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 22;
  margin-bottom: 30px;
  font-weight: normal;
}
.wrapper{
  font-family: montserrat,sans-serif;
  font-weight: 600;
  font-size: 24;
  position: relative;
  margin-left: 175px;
  margin-right: 20px;
  height: 400px;
  width: 200px;
}
.content{
  width: 198px;
  position: absolute;
  top: 0px;
  font-family: cardo,serif;
font-weight: normal;
text-align: center;
}
.content1{
position: absolute;
top: -363;
left: 500px;
transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
}
.content_UX{
  font-family:montserrat,sans-serif;
  font-size: 16;
  font-weight: 600;
  text-align: center;
}
.content_AboutMe{
  font-family: montserrat,sans-serif;
font-size: 16;
font-weight: 600;
text-align: center;
position: absolute;
margin-left: -40;
margin-top: 0;
width: 180;
}
.overlay{
  opacity: 0;
  transition:0.8s ease;
}
.wrapper:hover
img{
  opacity: 0.3
}
.wrapper:hover
.overlay{
  opacity: 1
}
.wrapper1{
  font-family: cardo,serif;
  font-size: 24;
  position: relative;
}
.overlay1{
  opacity: 0;
  transition:0.8s ease;
}
.wrapper1:hover
img{
  opacity: 0.3
}
.wrapper1:hover
.overlay1{
  opacity: 1
}
.wrapper2{
  font-family: cardo,serif;
  position: relative;
  font-size: 24;
}
.content2{
  position: absolute;
  top: -363;
  left: 730px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);

}
.overlay2{
  opacity: 0;
  transition:0.8s ease;
}
.wrapper2:hover
img{
  opacity: 0.3
}
.wrapper2:hover
.overlay2{
  opacity: 1
}
.list{
  position: absolute;
  left: 20px;
  font-family: cardo,serif;
  font-size: 14;
  font-weight: 400;
}
.transparent{
  opacity: 0;
  font-size: 5px;
}
.ligther{
  font-weight: normal;
}

.link{
  text-decoration: none;
  color: black;
  z-index: 1;
}
a:hover {
  text-decoration: underline;
}
body footer{
  position: relative;
  bottom: 0px;
  height: 0px;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container_no{
  position: relative;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  background-color: transparent;
  margin-top: 80px;
  height: 30px;
  width: 1000px;
}

}
.logo{
  font-family: montserrat, sans-serif;
font-size: 15px;
color: transparent;
font-weight: 400;
margin-bottom: 20px 0 40px;
}
.f_text{
  position: absolute;
font-family: montserrat,sans-serif;
font-size: 12px;

right: 130;
}
.line_{
  width: 90%;
  bottom: 20px
}
.no_content{
  height: 20px;
  width: 20px;
  margin-bottom: 30px;
  position: absolute;
}
.linkedIn_button{
position: absolute;
right: 170px;
bottom:0px;
top: 700px;
text-align: right;
  height: 32px;
}
.contact_links{
  width: 100%
}
.gmail_button{
  position: absolute;
  right: 120px;
  bottom:0px;
  top: 700px;
  text-align: right;
    height: 32px;
}
.medium_button{
position: absolute;
right: 70px;
bottom:0px;
top: 700px;
text-align: right;
  height: 32px;
